
body { font-family: arial, helvetica, sans-serif; }

/* Popup */
#popup-overlay {
    display: none;
    position: absolute;
    z-index: 2000;
    opacity: 0.7;
    top: 0;
    bottom: 0;
    background: #999;
    width: 100%;
    height: 100%;
}

.popup-container {
    font-family: Helvetica, Arial, freesans, sans-serif;
    display: none;
    position: absolute;
    z-index: 2100;
    top: 100px;
    left: 50%;
    width: 360px;
    margin-left: -250px; /*Half the value of width to center div*/
    /* margin-top: -100px;  Half the value of height to center div*/
    background: #fff;
    border-radius: 10px;
    padding: 10px;
}

/* .popup-controls {

} */

.popup-close {
  float: right;
  padding: 6px;
  font-weight: bold;
  cursor: pointer;
}

.popup-submit {
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin: 6px;
  margin-right: 12px;
}

.popup-content {
  padding: 2px;
  height: auto;
  margin: 10px;
  width: 90%;
}
body{
   background-image: url('../img/happynewyear.png');
   width: 100%;
   background-size: cover;

}


/* backgroud hoa anh đào */

 
.f1-effect {
  position: relative;
  z-index: 99999999; }
  .f1-effect .f1-effect-flower {
    opacity: 1;
    border-radius: 100%;
    background: url('../img/bg.png');
    position: fixed;
    top: -10%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running; }
    @media (max-width: 767px) {
      .f1-effect .f1-effect-flower:nth-of-type(2n) {
        display: none; } }
    .f1-effect .f1-effect-flower:nth-of-type(0) {
      left: 5%;
      -webkit-animation-delay: 1s, 1s;
      animation-delay: 1s, 1s;
      width: 16px;
      height: 16px;
      background-position: 0 -23px; }
    .f1-effect .f1-effect-flower:nth-of-type(1) {
      left: 10%;
      -webkit-animation-delay: 6s, 0.5s;
      animation-delay: 6s, 0.5s;
      width: 13px;
      height: 13px;
      background-position: 0 -50px; }
    .f1-effect .f1-effect-flower:nth-of-type(2) {
      left: 20%;
      -webkit-animation-delay: 4s, 2s;
      animation-delay: 4s, 2s;
      width: 15px;
      height: 15px;
      background-position: -49px -35px; }
    .f1-effect .f1-effect-flower:nth-of-type(3) {
      left: 30%;
      -webkit-animation-delay: 2s, 2s;
      animation-delay: 2s, 2s;
      width: 14px;
      height: 14px;
      background-position: -31px 0; }
    .f1-effect .f1-effect-flower:nth-of-type(4) {
      left: 40%;
      -webkit-animation-delay: 8s, 3s;
      animation-delay: 8s, 3s;
      width: 16px;
      height: 16px;
      background-position: 0 -23px; }
    .f1-effect .f1-effect-flower:nth-of-type(5) {
      left: 50%;
      -webkit-animation-delay: 6s, 2s;
      animation-delay: 6s, 2s;
      width: 13px;
      height: 13px;
      background-position: 0 -50px; }
    .f1-effect .f1-effect-flower:nth-of-type(6) {
      left: 60%;
      -webkit-animation-delay: 2.5s, 1s;
      animation-delay: 2.5s, 1s;
      width: 15px;
      height: 15px;
      background-position: -49px -35px; }
    .f1-effect .f1-effect-flower:nth-of-type(7) {
      left: 70%;
      -webkit-animation-delay: 1s, 0s;
      animation-delay: 1s, 0s;
      width: 14px;
      height: 14px;
      background-position: -31px 0; }
    .f1-effect .f1-effect-flower:nth-of-type(8) {
      left: 80%;
      -webkit-animation-delay: 2s, 2s;
      animation-delay: 2s, 2s;
      width: 14px;
      height: 14px;
      background-position: -31px 0; }
    .f1-effect .f1-effect-flower:nth-of-type(9) {
      left: 90%;
      -webkit-animation-delay: 8s, 3s;
      animation-delay: 8s, 3s;
      width: 16px;
      height: 16px;
      background-position: 0 -23px; }
    .f1-effect .f1-effect-flower:nth-of-type(10) {
      left: 95%;
      -webkit-animation-delay: 6s, 2s;
      animation-delay: 6s, 2s;
      width: 13px;
      height: 13px;
      background-position: 0 -50px; }
 
@-webkit-keyframes snowflakes-fall {
  0% {
    top: -10%; }
  100% {
    top: 100%; } }
 
@-webkit-keyframes snowflakes-shake {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
 
@keyframes snowflakes-fall {
  0% {
    top: -10%; }
  100% {
    top: 100%; } }
 
@keyframes snowflakes-shake {
  0% {
    transform: translateX(0px); }
  50% {
    transform: translateX(80px); }
  100% {
    transform: translateX(0px); } }
 
 /* backgroud câu đối */
.luta-tet-left{
position:fixed;
top:100px;
left:0;
z-index:0;
width:180px;/*kích thước câu đối bên trái, bạn có thể tăng hoặc giảm*/
}
.luta-tet-right{
position:fixed;
top:100px;
right:0;
z-index:0;
width:180px;/*kích thước câu đối bên phải, bạn có thể tăng hoặc giảm*/
}
/* ẩn banner khi kích thước màn hình nhỏ hơn 15 inch để tránh cho mất nội dung*/
@media(max-width:1524px){
.luta-tet-left,.luta-tet-right{
display:none!important
}
}

/* Pháo hoa */
@-webkit-keyframes my {
    0% { color: #F8CD0A; } 
    50% { color: #fff;  } 
    100% { color: #F8CD0A;  } 
}
@-moz-keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
}
@-o-keyframes my { 
    0% { color: #F8CD0A; } 
    50% { color: #fff; } 
    100% { color: #F8CD0A;  } 
}
@keyframes my { 
    0% { color: #F8CD0A;  } 
    50% { color: #fff;  }
    100% { color: #F8CD0A;  } 
} 



/* Chữ nhấp nháy */
#textgg
{
  font-size: 300px;
  position: absolute; 
  z-index: 1500;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.ui-dialog { z-index: 3000 !important ;}
.ui-widget-overlay{
  background: none !important;
}
.ui-dialog-titlebar-close {
  visibility: hidden;
}